@charset "UTF-8";
@import 'theme.config.less';

.main-container {
    height: 100%;
    display: flex;
    display: -webkit-flex; // flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    flex-direction: column;
    overflow: hidden;
    color: @font_w_color;
    background: @main_color;
    -webkit-app-region: drag;
    transition: all 1s;
    -webkit-transition: all 1s;
}

//标题
.layout-header,
.layout-footer {
    color: @font_w_color;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    -webkit-app-region: drag;
    z-index: 9999;
}

.layout-footer {
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: @font_g_color;
}

.layout-header .tools {
    margin: 5px;
    display: inline-block;
}

.layout-header .tools>a {
    border-radius: @tools_size;
    width: @tools_size;
    height: @tools_size;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    color: @font_b_color;
}

.layout-header .tools .close {
    background: #e95447;
}

.layout-header .tools .min {
    background: #f7c552;
}

.layout-header .title {
    display: inline-block;
    position: relative;
    left: 230px;
    color: @font_g_color;
}

//工作区
.layout-container {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    color: @font_w_color;
    -webkit-app-region: drag;
}

.layout-container {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    color: @font_w_color;
    -webkit-app-region: drag;
}

.layout-container .drop-box {
    position: relative;
    left: -200px;
    top: 50%;
}

.change {
    width: 70px;
    height: 25px;
    background: #00ff6a;
    display: inline-block;
    position: absolute;
    border-radius: 15px;
    left: 10px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.change.r2p {
    background: #00d9ff;
}

.change:hover {
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

//交互动画
.dragstatus {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
        background-size: 20%;
    }

    25% {
        transform: rotate(90deg);
        background-size: 25%;
    }

    50% {
        transform: rotate(180deg);
        background-size: 20%;
    }

    75% {
        transform: rotate(270deg);
        background-size: 15%;
    }

    100% {
        transform: rotate(360deg);
        background-size: 20%;
    }
}

@-webkit-keyframes rotate {

    0% {
        -webkit-transform: rotate(0deg);
        background-size: 20%;
    }

    25% {
        -webkit-transform: rotate(90deg);
        background-size: 25%;
    }

    50% {
        -webkit-transform: rotate(180deg);
        background-size: 20%;
    }

    75% {
        -webkit-transform: rotate(270deg);
        background-size: 15%;
    }

    100% {
        -webkit-transform: rotate(360deg);
        background-size: 20%;
    }
}

.dragstatus .logo {
    width: 1000px;
    height: 1000px;
    background: url('../icon.png') no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    animation: rotate 1.8s linear infinite;
    -webkit-animation: rotate 1.8s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}