@charset "UTF-8";
@import 'theme.config.less';

.main-container {
    height: 100%;
    display: flex;
    display: -webkit-flex; // flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    flex-direction: column;
    overflow: hidden;
    color: @font_w_color;
    background: @main_color;
    -webkit-app-region: drag;
    transition: all 1s;
    -webkit-transition: all 1s;
}

//标题
.layout-header {
    color: @font_w_color;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    -webkit-app-region: drag;
}

.layout-header .tools {
    margin: 5px;
}

.layout-header .tools>a {
    border-radius: @tools_size;
    width: @tools_size;
    height: @tools_size;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    color:@font_b_color;
}

.layout-header .tools .close {
    background: #e95447;
}

.layout-header .tools .min {
    background: #f7c552;
}

//工作区
.layout-container {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    color: @font_w_color;
    -webkit-app-region: drag;
}

.layout-container .drop-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

//交互动画
.dragstatus {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 0.8;
}

@keyframes rotate{
 
    0%{-webkit-transform:rotate(0deg);}

    25%{-webkit-transform:rotate(90deg);}

    50%{-webkit-transform:rotate(180deg);}

    75%{-webkit-transform:rotate(270deg);}

    100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes rotate{
 
    0%{-webkit-transform:rotate(0deg);}

    25%{-webkit-transform:rotate(90deg);}

    50%{-webkit-transform:rotate(180deg);}

    75%{-webkit-transform:rotate(270deg);}

    100%{-webkit-transform:rotate(360deg);}
}

.dragstatus .px2rem{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
   width:220px;
   height:220px;
   animation:rotate .8s linear infinite;
   -webkit-animation:rotate .8s linear infinite;
}

